{% extends "base.html" %}
{% load static %}
{% block content  %}
    <title>update Emp</title>
{% endblock %}
{% block ab  %}
    <div id="wrap">
        <div id="top_content">
            <div id="header">
                <div id="rightheader">
                    <p id = "times"></p>
                </div>
                <div id="topheader">
                    <h1 id="title">
                            <a href="{% url 'home' %}">Main</a>
                    </h1>
                </div>
                <div id="navigation">
                </div>
            </div>
            <div id="content">
                <p id="whereami"></p>
                <h1>update Emp info:</h1>
                <form action="{% url 'update1' %}?id={{ data.id }}" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <table cellpadding="0" cellspacing="0" border="0" class="form_table">
                        <tr>
                            <td valign="middle" align="right">
                                id:
                            </td>
                            <td valign="middle" align="left">
                                {{ data.id }}
                            </td>
                        </tr>
                        <tr>
                            <td valign="middle" align="right">
                                headpicture:
                            </td>
                            <td valign="middle" align="left">
                                <img src="{% static data.headpic.url %}" alt="无法加载图片" width="100px">
                                <br>
                                <input type="file" class="inputgri" name="headpic" style="width: 170px" />
                            </td>
                        </tr>
                        <tr>
                            <td valign="middle" align="right">
                                name:
                            </td>
                            <td valign="middle" align="left">
                                <input type="text" class="inputgri" name="name" value="{{data.name}}"/>
                            </td>
                        </tr>
                        <tr>
                            <td valign="middle" align="right">
                                salary:
                            </td>
                            <td valign="middle" align="left">
                                <input type="text" class="inputgri" name="salary" value="{{data.salary}}"/>
                            </td>
                        </tr>
                        <tr>
                            <td valign="middle" align="right">
                                age:
                            </td>
                            <td valign="middle" align="left">
                                <input type="text" class="inputgri" name="age" value="{{ data.age }}"/>
                            </td>
                        </tr>
                    </table>
                    <p><input type="submit" class="button" value="Confirm" /></p>
                </form>
            </div>
        </div>
        <div id="footer">
            <div id="footer_bg">
                ABC@126.com
            </div>
        </div>
    </div>
{% endblock %}

